In [4]:
import pandas as pd

In [5]:
dados_financeiro_pagamentos = pd.read_csv('financeiro_pagamentos.csv', sep=';', dtype={'cod_fornecedor': str}, decimal=',', encoding='latin-1')

In [ ]:
dados_financeiro_pagamentos

  cod_fornecedor valor_pago data_pagamento forma_pagamento
0          F-201  45.000,00     2025-01-15          boleto
1          F-201  32.000,00     2025-02-10   transferencia
2          F-305  28.000,00     2025-01-20          boleto
3          F-118  55.000,00     2025-01-25          boleto
4          F-118  61.000,00     2025-02-08   transferencia
5          F-410  15.000,00     2025-02-05             pix

In [7]:
dados_financeiro_pagamentos.dtypes

cod_fornecedor     str
valor_pago         str
data_pagamento     str
forma_pagamento    str
dtype: object

In [8]:
dados_financeiro_pagamentos['data_pagamento'] = pd.to_datetime(dados_financeiro_pagamentos['data_pagamento'], format='%Y-%m-%d')

In [10]:
dados_financeiro_pagamentos.dtypes

cod_fornecedor                str
valor_pago                    str
data_pagamento     datetime64[us]
forma_pagamento               str
dtype: object

In [16]:
dados_financeiro_pagamentos['valor_pago'] = dados_financeiro_pagamentos['valor_pago'].str.replace('.', '', regex=False).str.replace(',', '.').astype('float64')

In [17]:
dados_financeiro_pagamentos['valor_pago']

0    45000.0
1    32000.0
2    28000.0
3    55000.0
4    61000.0
5    15000.0
Name: valor_pago, dtype: float64

In [18]:
dados_financeiro_pagamentos.dtypes

cod_fornecedor                str
valor_pago                float64
data_pagamento     datetime64[us]
forma_pagamento               str
dtype: object

In [19]:
dados_financeiro_pagamentos

  cod_fornecedor  valor_pago data_pagamento forma_pagamento
0          F-201     45000.0     2025-01-15          boleto
1          F-201     32000.0     2025-02-10   transferencia
2          F-305     28000.0     2025-01-20          boleto
3          F-118     55000.0     2025-01-25          boleto
4          F-118     61000.0     2025-02-08   transferencia
5          F-410     15000.0     2025-02-05             pix

In [ ]:
#Prepar para ler o rh_responsaveis.xlsx