In [2]:
import pandas as pd

In [2]:
caminho_do_arquivo = 'financeiro_pagamentos.xlsx'
dados_financeiro_pagamentos = pd.read_excel(caminho_do_arquivo)

In [3]:
dados_financeiro_pagamentos

  cod_fornecedor  valor_pago data_pagamento forma_pagamento
0          F-201       45000     2025-01-15          boleto
1          F-201       32000     2025-02-10   transferencia
2          F-305       28000     2025-01-20          boleto
3          F-118       55000     2025-01-25          boleto
4          F-118       61000     2025-02-08   transferencia
5          F-410       15000     2025-02-05             pix

In [4]:
dados_financeiro_pagamentos.to_csv('financeiro_pagamentos.csv', sep=';', index=False, encoding='latin-1', decimal=',')

In [3]:
tabela_1 = pd.DataFrame(data={
    'col1': [1, 2],
    'col2': [3, 4]
})

In [4]:
tabela_2 = pd.DataFrame(data={
    'cod_fornecedor': ['F-201', 'F-305', 'F-118', 'F-410'],
    'num_contrato': ['CTR-2024-001', 'CTR-2024-015', 'CTR-2024-022', 'CTR-2024-033'],
    'valor_contrato': ['250000.00', '180000.00', '320000.00', '95000.00'],
    'vigencia_fim': ['31/12/2025', '28/02/2026', '14/06/2026', '31/08/2026']
})

In [5]:
tabela_3 = pd.DataFrame(data={
    'col1': [1, 2],
    'col2': [3, 4]
})

In [6]:
tabela_1.to_html('tabela_1.html', index=False)
tabela_2.to_html('tabela_2.html', index=False)
tabela_3.to_html('tabela_3.html', index=False)