In [39]:
import pandas as pd

In [40]:
dados_brutos = pd.read_excel('beneficios_funcionarios.xlsx',
                             sheet_name='dados_brutos',
                             skiprows=3,
                             dtype={'matricula': str},
                             usecols='A:E')

In [41]:
dados_brutos

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal
0,10045,Maria Conceição dos Santos,Financeiro,VR,850
1,00123,Antônio Lopes Pereira,RH,VA,1125
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500

In [42]:
tabela_desconto = pd.read_excel('beneficios_funcionarios.xlsx',
                                sheet_name='tabela_desconto')

In [43]:
tabela_desconto

   tipo_beneficio  percentual_desconto
0              VR                 0.05
1              VA                 0.03
2  Plano de Saúde                 0.12

In [44]:
dados_consolidados = dados_brutos.join(tabela_desconto, rsuffix='_desconto')

In [45]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,tipo_beneficio_desconto,percentual_desconto
0,10045,Maria Conceição dos Santos,Financeiro,VR,850,VR,0.05
1,00123,Antônio Lopes Pereira,RH,VA,1125,VA,0.03
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500,Plano de Saúde,0.12

In [64]:
dados_consolidados['valor_desconto'] = (
    dados_consolidados['valor_mensal'] * dados_consolidados['percentual_desconto']
).round(2)

In [63]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,tipo_beneficio_desconto,percentual_desconto,valor_desconto,valor_liquido
0,10045,Maria Conceição dos Santos,Financeiro,VR,850,VR,0.05,42.50,807.50
1,00123,Antônio Lopes Pereira,RH,VA,1125,VA,0.03,33.75,1091.25
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500,Plano de Saúde,0.12,300.00,2200.00

In [65]:
dados_consolidados['valor_liquido'] = (
    dados_consolidados['valor_mensal'] - dados_consolidados['valor_desconto']
).round(2)

In [66]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,tipo_beneficio_desconto,percentual_desconto,valor_desconto,valor_liquido
0,10045,Maria Conceição dos Santos,Financeiro,VR,850,VR,0.05,42.50,807.50
1,00123,Antônio Lopes Pereira,RH,VA,1125,VA,0.03,33.75,1091.25
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500,Plano de Saúde,0.12,300.00,2200.00

In [67]:
dados_consolidados.to_excel('beneficios_consolidado.xlsx',
                            sheet_name='consolidado',
                            index=False)