In [14]:
import pandas as pd

In [15]:
dados_brutos = pd.read_excel('beneficios_funcionarios.xlsx',
                             sheet_name='dados_brutos',
                             skiprows=3,
                             dtype={'matricula': str},
                             usecols='A:E')

In [16]:
dados_brutos

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal
0,10045,Maria Conceição dos Santos,Financeiro,VR,850.00
1,00123,Antônio Lopes Pereira,RH,VA,1125.00
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500.00
3,23256,José de Oliveira,Compras,VR,185.29
4,89856,Amando dos Santos,Licitações,VR,1113.25

In [17]:
tabela_desconto = pd.read_excel('beneficios_funcionarios.xlsx',
                                sheet_name='tabela_desconto')

In [18]:
tabela_desconto

   tipo_beneficio  percentual_desconto
0              VR                 0.05
1              VA                 0.03
2  Plano de Saúde                 0.12

In [19]:
dados_consolidados = pd.merge(dados_brutos, tabela_desconto, how='left', on='tipo_beneficio')

In [24]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,percentual_desconto
0,10045,Maria Conceição dos Santos,Financeiro,VR,850.00,0.05
1,00123,Antônio Lopes Pereira,RH,VA,1125.00,0.03
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500.00,0.12
3,23256,José de Oliveira,Compras,VR,185.29,0.05
4,89856,Amando dos Santos,Licitações,VR,1113.25,0.05

In [25]:
dados_consolidados['valor_desconto'] = (
    dados_consolidados['valor_mensal'] * dados_consolidados['percentual_desconto']
).round(2)

In [26]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,percentual_desconto,valor_desconto
0,10045,Maria Conceição dos Santos,Financeiro,VR,850.00,0.05,42.50
1,00123,Antônio Lopes Pereira,RH,VA,1125.00,0.03,33.75
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500.00,0.12,300.00
3,23256,José de Oliveira,Compras,VR,185.29,0.05,9.26
4,89856,Amando dos Santos,Licitações,VR,1113.25,0.05,55.66

In [27]:
dados_consolidados['valor_liquido'] = (
    dados_consolidados['valor_mensal'] - dados_consolidados['valor_desconto']
).round(2)

In [28]:
dados_consolidados

,matricula,nome_completo,departamento,tipo_beneficio,valor_mensal,percentual_desconto,valor_desconto,valor_liquido
0,10045,Maria Conceição dos Santos,Financeiro,VR,850.00,0.05,42.50,807.50
1,00123,Antônio Lopes Pereira,RH,VA,1125.00,0.03,33.75,1091.25
2,11501,Jaquelina da Silva,TI,Plano de Saúde,2500.00,0.12,300.00,2200.00
3,23256,José de Oliveira,Compras,VR,185.29,0.05,9.26,176.03
4,89856,Amando dos Santos,Licitações,VR,1113.25,0.05,55.66,1057.59

In [29]:
dados_consolidados.to_excel('beneficios_consolidado.xlsx',
                            sheet_name='consolidado',
                            index=False)