In [1]:
import pandas as pd

In [6]:
tabela_1 = pd.DataFrame(data={
    'col1': [1, 2],
    'col2': [3, 4]
})

In [8]:
tabela_2 = pd.DataFrame(data={
    'cod_fornecedor': ['F-201', 'F-305', 'F-118', 'F-410'],
    'razao_social': ['Distribuidora Elétrica São Paulo Ltda', 'Eletropeças Mineira ME', 'Casa do Eletricista Conceição & Filhos', 'Iluminação Nordeste S.A.'],
    'num_contrato': ['CTR-2024-001', 'CTR-2024-015', 'CTR-2024-022', 'CTR-2024-033'],
    'vigencia_inicio': ['31/12/2025', '28/02/2026', '14/06/2026', '31/08/2026'],
    'valor_contrato': [250000.00, 180000.00, 320000.00, 95000.00]
})

In [10]:
tabela_2.dtypes

cod_fornecedor         str
razao_social           str
num_contrato           str
vigencia_inicio        str
valor_contrato     float64
dtype: object

In [11]:
tabela_3 = pd.DataFrame(data={
    'col1': [1, 2],
    'col2': [3, 4]
})

In [12]:
tabela_3

   col1  col2
0     1     3
1     2     4

In [23]:
tabela_1.to_html('tabela_1.html', index=False)
tabela_2.to_html('tabela_2.html', index=False)
tabela_3.to_html('tabela_3.html', index=False)

In [24]:
pd.read_html('tabela_1.html')[1]

,cod_fornecedor,razao_social,num_contrato,vigencia_inicio,valor_contrato
0,F-201,Distribuidora ElÃ©trica SÃ£o Paulo Ltda,CTR-2024-001,31/12/2025,250000.0
1,F-305,EletropeÃ§as Mineira ME,CTR-2024-015,28/02/2026,180000.0
2,F-118,Casa do Eletricista ConceiÃ§Ã£o & Filhos,CTR-2024-022,14/06/2026,320000.0
3,F-410,IluminaÃ§Ã£o Nordeste S.A.,CTR-2024-033,31/08/2026,95000.0

In [29]:
dados_contratos_ativos = pd.read_html('contratos_ativos.html')[1]
dados_notas_fiscais = pd.read_xml('notas_fiscais.xml')

In [30]:
dados_contratos_ativos

,cod_fornecedor,razao_social,num_contrato,vigencia_inicio,valor_contrato
0,F-201,Distribuidora ElÃ©trica SÃ£o Paulo Ltda,CTR-2024-001,31/12/2025,250000.0
1,F-305,EletropeÃ§as Mineira ME,CTR-2024-015,28/02/2026,180000.0
2,F-118,Casa do Eletricista ConceiÃ§Ã£o & Filhos,CTR-2024-022,14/06/2026,320000.0
3,F-410,IluminaÃ§Ã£o Nordeste S.A.,CTR-2024-033,31/08/2026,95000.0

In [31]:
dados_notas_fiscais

  numero_nf cod_fornecedor data_emissao  valor_nf
0  NF-10201          F-201   2025-01-15   45000.0
1  NF-10202          F-201   2025-02-10   32000.0
2  NF-10305          F-305   2025-01-20   28000.0
3  NF-10118          F-118   2025-01-25   55000.0
4  NF-10119          F-118   2025-02-08   61000.0
5  NF-10120          F-118   2025-02-12   48000.0
6  NF-10500          F-500   2025-02-01   12000.0

In [53]:
total_faturado = dados_notas_fiscais.groupby(by='cod_fornecedor', as_index=False).sum()

In [50]:
total_faturado

,cod_fornecedor,numero_nf,data_emissao,valor_nf
0,F-118,NF-10118NF-10119NF-10120,2025-01-252025-02-082025-02-12,164000.0
1,F-201,NF-10201NF-10202,2025-01-152025-02-10,77000.0
2,F-305,NF-10305,2025-01-20,28000.0
3,F-500,NF-10500,2025-02-01,12000.0